<section class="about">
    <div class="container">
        <div class="about__wrap">
            <div class="about__left">
                <div class="about__title">АО “ИФАБ Техно” – дилер в России скандинавской компании Skandinaviska IFAB
                    Filtrering AB</div>
                <div class="about__text">Офис ИФАБ Техно в Санкт-Петербурге организован в мае 1998 г. Головная компания
                    занимает ведущее положение на европейском рынке и имеет более чем 30-летний опыт в области
                    применения
                    фильтрационных материалов.<br><br> Мы имеем опыт решения задач, связанных с фильтрацией и очисткой продуктов
                    и
                    сред, на различных производствах и отраслях промышленности:</div>
                <ul class="about__list">
                    <li class="about__item">автомобилестроения</li>
                    <li class="about__item">пищевой</li>
                    <li class="about__item">химической</li>
                    <li class="about__item">косметической</li>
                    <li class="about__item">электронной</li>
                    <li class="about__item">фармацевтической</li>
                </ul>
                <div class="about__text down">Сотрудничая с ИФАБ Техно, Вы получите обоснованные решения по подбору
                    фильтрующих
                    материалов и корпусов (фильтродержателей), сертифицированных в соответствии с требованиями FDI 21CFR
                    (пищевая промышленность).</div>
            </div>
            <div class="about__right">
                <img src="../../../img/about.png" alt="about-img">
            </div>
        </div>
    </div>
</section>