.card {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        h3 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: #1A1A1A;
            width: 200px;
        }
    }
}