.products {
    padding-top: 50px;

    &__title {
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: #1A1A1A;
        margin-bottom: 30px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__list {
        margin-left: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
        grid-gap: 20px;
    }
}

@media screen and (max-width: 1145px) {
    .products {
        &__list {
            justify-items: center;
        }
    }
}

@media screen and (max-width: 710px) {
    .products {
        &__title {
            font-size: 32px;
            text-align: center;
        }
        &__wrap {
            align-items: center;
            flex-direction: column;
        }

        &__list {
            margin-left: 0;
            justify-items: center;
        }
    }
}

@media screen and (max-width: 410px) {
    .products {
        &__wrap {
            align-items: center;
            flex-direction: column;
        }

        &__list {
            margin-left: 0;
            max-width: 250px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-items: center;
        }
    }
}