<header class="header">
    <div class="container">
        <div class="menu-burger">
            <span></span>
        </div>
        <nav class="topnav" id="topnav">
            <a class="topnav__logo" href="/">
                <img src="img/logo.png" alt="logo">
            </a>
            <ul class="topnav__menu">
                <li class="topnav__menu-item @@item-active1">
                    <a class="topnav__menu-link" href="/">Главная</a>
                </li>
                <li class="topnav__menu-item @@item-active2">
                    <a class="topnav__menu-link" href="#">Продукция</a>
                </li>
                <li class="topnav__menu-item @@item-active3">
                    <a class="topnav__menu-link" href="/about.html">О нас</a>
                </li>
                <li class="topnav__menu-item @@item-active4">
                    <a class="topnav__menu-link" href="/contacts.html">Контакты</a>
                </li>
            </ul>

        </nav>
    </div>
</header>