.main-feedback {
  padding-top: 100px;
  margin-bottom: 60px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: 688px;
  }

  &__slider {
    width: 100%;
  }

  &__slider-item {
    position: relative;

    img {
      display: block;
    }

    P {
      width: 347px;
      position: absolute;
      left: 40px;
      bottom: 40px;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 36px;
      line-height: 108%;
      color: #FFFFFF;

    }
  }


  &__right {
    width: 904px;
  }

  &__title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 56px;
    line-height: 108%;
    color: #004BA9;
    margin: 70px;
  }

  &__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 108%;
    color: #1A1A1A;
    margin-bottom: 30px;

  }

  &__input {
    width: 100%;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 108.19%;
    color: #848484;
    padding: 25px 35px;
    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    margin-bottom: 15px;

  }

  &__textarea {
    width: 100%;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 108.19%;
    color: #848484;
    padding: 25px 35px;
    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    margin-bottom: 30px;
  }

  &__btn {
    text-align: center;
    margin-bottom: 12px;
  }

  &__undertext {
    text-align: center;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 108%;
    color: #848484;

    a {
      text-decoration: underline;
    }
  }
}

.slick-dots {
  position: absolute;
  bottom: -80px;
}

.slick-dots li button:before {
  font-size: 16px;
  color: black;
  opacity: 0.15;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #004BA9;
}

@media screen and (max-width: 1600px) {
  .main-feedback {
    &__wrap {
      flex-direction: column;
    }

    &__left {
      // width: 688px;
      margin-bottom: 50px;
    }

  }
}

@media screen and (max-width: 1600px) {
  .main-feedback {
    &__wrap {
      flex-direction: column;
    }

    &__left {
      width: 680px;
      margin-bottom: 50px;
      text-align: center;
    }

    &__right {
      width: 100%;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-feedback {
    &__wrap {
      flex-direction: column;
    }

    &__left {
      margin-bottom: 50px;
      text-align: center;
    }

    &__title {
      font-size: 42px;
    }

    &__text {
      font-size: 18px;
    }

    &__input {
      font-size: 18px;
      padding: 18px 25px;
    }

    &__textarea {
      font-size: 18px;
      padding: 18px 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-feedback {
    &__title {
      font-size: 34px;
    }

    &__left {
      max-width: 450px;
      margin-bottom: 50px;
      text-align: center;
    }

    .slick-dots {
      bottom: -60px;
    }

    .slick-dots li button:before {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 500px) {
    .main-feedback {
      padding-top: 20px;

      &__left {
        width: 310px;
        margin-bottom: 50px;
        text-align: center;
      }

      &__slider-item {
        img{
          width: 310px;
        }

        P {
          width: 100%;
          position: absolute;
          left: 0px;
          bottom: 20px;
          font-family: 'Raleway';
          font-weight: 700;
          font-size: 22px;
          line-height: 108%;
          color: #FFFFFF;
        }
      }

      &__right {
        width: 100%;
        padding: 0 20px;
      }

      &__title {
        font-size: 22px;
        margin: 0;
        margin-bottom: 30px;
      }

      &__text {
        font-size: 16px;
      }
      &__undertext {
        font-size: 16px;
      }
    }
  }

}

@media screen and (max-width: 380px) {
  .main-feedback {
    &__left {
      width: 250px;
    }

    &__slider-item {
      img{
        width: 250px;
      }
    }

    &__title {
      font-size: 22px;
      margin: 0;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 16px;
    }

    &__undertext {
      font-size: 14px;
    }

    .slick-dots {
      bottom: -40px;
    }
    .slick-dots li button:before {
      font-size: 10px;
    }
  }  
}