<section class="main-feedback">
    <div class="container">
        <div class="main-feedback__wrap">
            <div class="main-feedback__left">
                <div class="main-feedback__slider">
                    <div class="main-feedback__slider-item">
                        <img src="../../../img/main-feedback1.png" alt="main-feedback">
                        <p>Пищевая промышленность</p>
                    </div>
                    <div class="main-feedback__slider-item">
                        <img src="../../../img/main-feedback2.png" alt="main-feedback">
                        <p>Электронная промышленность</p>
                    </div>
                    <div class="main-feedback__slider-item">
                        <img src="../../../img/main-feedback3.png" alt="main-feedback">
                        <p>Косметическая промышленность</p>
                    </div>

                    <div class="main-feedback__slider-item">
                        <img src="../../../img/main-feedback1.png" alt="main-feedback">
                        <p>Химическая промышленность</p>
                    </div>
                    <div class="main-feedback__slider-item">
                        <img src="../../../img/main-feedback2.png" alt="main-feedback">
                        <p>Автомобилестроение</p>
                    </div>
                    <div class="main-feedback__slider-item">
                        <img src="../../../img/main-feedback3.png" alt="main-feedback">
                        <p>Фармацевтическая промышленность</p>
                    </div>
                </div>
            </div>
            <div class="main-feedback__right">
                <div class="main-feedback__title">Мы имеем опыт решения задач, связанных с фильтрацией и очисткой продуктов и сред на разных производствах</div>                                
                <div class="main-feedback__text">Оставьте данные для заказа или получения консультации</div>
                <input type="text" class="main-feedback__input" placeholder="Компания">
                <input type="text" class="main-feedback__input" placeholder="Номер телефона">
                <input type="text" class="main-feedback__input" placeholder="E-mail">
                <textarea class="main-feedback__textarea" rows="4" placeholder="Опишите ваш запрос"></textarea>
                <div class="main-feedback__btn">
                    @@include('../../bem-blocks/Button/Button.html', {
                        "link": "#",
                        "text": "Отправить запрос",
                    })
                </div>
                <div class="main-feedback__undertext">Нажимая на кнопку, вы даете 
                    <a href="#">согласие на обработку персональных данных</a>
                </div>
            </div>
        </div>        
    </div>
</section>