<ul class="sidebar__list">
    <li class="sidebar__item title">Рукавные фильтры</li>
    <li class="sidebar__item">– однослойные </li>
    <li class="sidebar__item">– многослойные</li>
    <li class="sidebar__item">– с адсорбентом</li>
    <li class="sidebar__item">– тонкая фильтрация</li>
    <li class="sidebar__item title">Фильтр-картриджи</li>
    <li class="sidebar__item">– ПОВЕРХНОСТНАЯ ФИЛЬТРАЦИЯ</li>
    <li class="sidebar__item">– ГЛУБИННАЯ фильтрация</li>
    <li class="sidebar__item">– адсорбирующие</li>
    <li class="sidebar__item title">КОРПУСы</li>
    <li class="sidebar__item">– КОРПУСЫ ДЛЯ ЭПФ</li>
    <li class="sidebar__item">– КОРПУСЫ ДЛЯ РУКАВНЫХ ФИЛЬТРОВ</li>
    <li class="sidebar__item title">ФИЛЬТРУЮЩИЕ КАРТОНЫ</li>
    <li class="sidebar__item title">адСОРБЕНТЫ</li>
    <li class="sidebar__item">– Диатомит (кизельгур)</li>
    <li class="sidebar__item">– Перлит</li>
    <li class="sidebar__item">– уголь</li>
</ul>