<section class="main-page">
    <div class="container">
        <h1 class="main-page__title">Передовые технологии<br>промышленной фильтрации</h1>                
        <p class="main-page__subtitle">С 1960 года IFAB поставляет комплексные решения<br>фильтрации для разных отраслей по всему миру</p>
        <div class="main-page__btn">
            @@include('../../bem-blocks/Button/Button.html', {
                "link": "#",
                "text": "Получить консультацию",
            })
        </div>
        <ul class="main-page__cards">
            <li class="main-page__cards-item">
                <h2 class="main-page__cards-title">Широкий<br>ассортимент</h2>
                <p class="main-page__cards-text">У нас есть отработанные решения по подбору фильтрующих материалов и корпусов</p>
            </li>
            <li class="main-page__cards-item">
                <h2 class="main-page__cards-title">Более 20 лет<br>на рынке</h2>
                <p class="main-page__cards-text">Мы предложим лучшие решения для фильтрации, адаптированные к конкретным требованям</p>
            </li>
            <li class="main-page__cards-item">
                <h2 class="main-page__cards-title">Склад и офис<br>в Санкт-Петербурге</h2>
                <p class="main-page__cards-text">Правильно отработанная и выстроенная логистика, быстрые поставки заказов нашим клиентам</p>
            </li>
        </ul>
    </div>
</section>