<section class="contacts">
    <div class="container">
        <div class="contacts__wrap">
            <div class="contacts__left">
                <img src="../../../img/contacts-cart.png" alt="contacts-cart">
            </div>
            <div class="contacts__right">
                <img src="../../../img/contacts-logo.png" alt="contacts-logo">
                <div class="contacts__item">
                    <div class="contacts__item-img">
                        <img src="../../../img/address-ico.png" alt="address-ico">
                    </div>
                    <p class="contacts__item-text">г. Санкт-Петербург, а/я 281 Ленинский пр., 151, оф.635</p>
                </div>
                <div class="contacts__item">
                    <div class="contacts__item-img">
                        <img src="../../../img/phone-ico.png" alt="phone-ico">
                    </div>
                    <p class="contacts__item-text">+7 812 375-99-69</p>
                </div>
                <div class="contacts__item">
                    <div class="contacts__item-img">
                        <img src="../../../img/email-ico.png" alt="email-ico">
                    </div>
                    <p class="contacts__item-text">ifab@ifab.spb.ru</p>
                </div>
                <div class="contacts__item">
                    <div class="contacts__item-img">
                        <img src="../../../img/time-ico.png" alt="time-ico">
                    </div>
                    <p class="contacts__item-text">Пн-Пт: 9:00-20:00</p>
                </div>

            </div>
        </div>
    </div>
</section>