.solutions {
    padding-top: 100px;

    &__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 115%;
        text-transform: uppercase;
        color: #004BA9;
        margin-bottom: 50px;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__item {
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #E8E8E8;
        &-bottom {
            display: flex;
            justify-content: space-between;
            // align-items: center;
            margin-top: 20px;
            h3 {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                color: #1A1A1A;
                width: 200px;
            }
        }

    }

    &__view-btn{
        text-align: center;
        margin-bottom: 60px;
    }
}