<section class="solutions">
    <div class="container">
        <div class="solutions__title">Каталог решений для Вашего производства</div>
        <ul class="solutions__list">
                @@include('../../bem-blocks/Card/Card.html', {
                    "img": "../../../img/solution1.webp",
                    "text": "Рукавные фильтры",
                    "link": "#"
                    })
                @@include('../../bem-blocks/Card/Card.html', {
                    "img": "../../../img/solution2.webp",
                    "text": "Фильтр-картриджи",
                    "link": "#"
                    })
                @@include('../../bem-blocks/Card/Card.html', {
                    "img": "../../../img/solution3.webp",
                    "text": "Корпусы",
                    "link": "#"
                    })
                @@include('../../bem-blocks/Card/Card.html', {
                    "img": "../../../img/solution4.webp",
                    "text": "Фильтрующие картоны",
                    "link": "#"
                    })
                @@include('../../bem-blocks/Card/Card.html', {
                    "img": "../../../img/solution5.webp",
                    "text": "Адсорбенты",
                    "link": "#"
                    })
        </ul>
        <div class="solutions__view-btn">
            @@include('../../bem-blocks/Buttons/Button/Button.html', {
            "link": "#",
            "text": "Посмотреть всю продукцию"
            })
        </div>
    </div>
</section>